$theme-colors: (
        "darkIron": #1e4759,
        "ironLite": #266e82,
        "skyBlue": #70bad1,
        "originalOrange": #f5a361,
        "plainWhite": #fff,
        "ligtGrey": #F3F3F3,
);

@import "node_modules/bootstrap/scss/bootstrap";


$darkIron: #1e4759;
$ironLite: #266e82;
$skyBlue: #70bad1;
$originalOrange: #f5a361;
$plainWhite: #fff;
$lightGrey: #F3F3F3;