@import 'colors';
@import 'fonts';

$tablet: "screen and (min-width: 768px)";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  overscroll-behavior: contain;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



.navbar {
  padding: 0!important;
  .logo{
    a{
      img{
        min-width: 135px;
      }
    }
  }
  .navbar-toggler{
    border: 0;
  }

}

.container-fluid{
  overflow-x:hidden;
}

.sektion1{
  min-height: 100vh;
  background-image: url(../images/mobileBG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-style: normal;
  color: white;
  @media #{$tablet} {
    background-image: url(../images/headerBig.png);
  }

  .headLine{
    h1{
      font-size: 25px;
      padding-top: 150px;
      font-weight: 600;
      @media #{$tablet} {
        font-size: 35px;
      }
    }
  }
  .catchLine{
    p{
    font-size: 14px;
    @media #{$tablet} {
      font-size: 18px;
    }
    }
  }

  .sektionButtons{
    button{
      background-color: #0b2e13;
      border: none;
      border-radius: 8px;
      min-width: 117px;
      min-height: 28px;
      cursor: pointer;
    }


  }
  .soMe{
  }

  .arrow{
  }
}

#kort1{
  z-index:2;
}

#kort2{
  z-index:5;
}

#kort2{
  z-index:2;
}

.sektion2{
  overflow-x:hidden;
  .gridParent{
    .imgContainer{
      img{
      }
    }
    .textBox1{
      h2{
        font-size: 18px;
        font-weight: bold;
        color: #266E82;
      }
      p{
        color: #707070;
        text-align: justify;
        font-size: 14px;
      }
    }
    .icons{
      img{
        min-width: 55px;
      }

    }
    .textBox2{
      h2{
        font-size: 18px;
        font-weight: bold;
        color: #266E82;
      }
      p{
        color: #707070;
        text-align: justify;
      }
    }
    .ctaBtn{
      button{
        background-color: #0b2e13;
        border: none;
        border-radius: 8px;
        min-width: 117px;
        min-height: 28px;
        cursor: pointer;
      }
    }
  }
}

.sektion3{
  min-height: 100vh;
  background-image: url(../images/mobileBG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-style: normal;
  color: white;
    .sektion3Header{
      h2{
        font-size: 18px;
        font-weight: bold;
      }
    }
    .splitPayment{
      h2{
        font-size: 18px;
        font-weight: bold;
      }
      button{
        background-color: #0b2e13;
        border: none;
        border-radius: 8px;
        min-width: 117px;
        min-height: 28px;
        cursor: pointer;
      }

    }

  .container{
    .card{
      min-height: 500px;
    }
    .textStyle{
      color: #0c5460;
    }
    button{
      border-radius: 10px;
      min-width: 117px;
    }
  }
}


.footer{
  .footerText{
    h3{
      font-size: 15px;
    }
    p{
      font-size: 14px;
    }
  }
  .seperator{
    background-color: white;
    min-height: 1px;
  }
  .logoAndRules{
    .logo{
      img{
        min-width: 135px;
      }
    }
    .rules{
      a{
        color: white;
        font-size: 14px;
      }
    }
  }
}

